<div id="first_header">
	<h7>Homelette</h7>
	<br>
	<h8>Fucking finally a nice looking site</h8>
</div>

<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div style="height: 85vh;">
	<div id="ingridients_box" style="margin-top: 15px;">
		<div id="numberOfGuests_view4"><h9>Ingredients for {{numberOfGuests()}} people</h9></div>
		<table id="ingredients_view4">
			<tr ng-repeat="ingredient in selectedDish.Ingredients">
				<td>{{ingredient.Quantity}}</td>
				<td>{{ingredient.Unit}}</td>
				<td>{{ingredient.Name}}</td>
				<td>SEK</td>
				<td>{{numberOfGuests()*ingredient.Quantity}}</td>
			</tr>
		</table>
		<hr class="style"/>
		<div ng-controller="DinnerCtrl">
			<button class="button2" ng-click="addDishToMenu(selectedDish.RecipeID)" type="button">Confirm Dish</button>
		</div>
		<div id="total_price_view4" style='float: right;'>{{numberOfGuests()*dishPrice(selectedDish.RecipeID)}}</div>
	</div>

	<div id="selected_dish" style="background-color:white; padding:15px; padding-left:40px;">
		<h9>{{selectedDish.Title}}</h9>
		<img class="dishcircle" style="width: 300px; height: 300px; -moz-border-radius: 150px; -webkit-border-radius: 150px;border-radius: 150px;" ng-src="{{selectedDish.ImageURL}}"/>
		<div id='dish_description'>{{selectedDish.Description}}</div>
		<br/>
		<br/>
		<div id="preperation">
			<h9>Preperation</h9>
			<br/>
			{{selectedDish.Instructions}}
		</div>
		<br/>
		<a class="button2" ng-href="#/search" id="back-btn" type="button">Back to Select Dish</a>
	</div>
</div>